.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.arrow{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}